
<%= simple_form_for(@place) do |f| %>

  <div class="form-inputs">
    <%= f.input :title, label:"Título" %>
    <%= f.input :description, label:"Descripción" %>
    <%= f.input :address, label:"Dirección" %>
    <%= f.input :category, label:"Categoría" %>
    <%= f.input :price_per_hour, label:"Precio por hora", placeholder: "COP" %>
    <%= f.input :capicity, label:"Capacidad", placeholder:"Ingresa la capacidad màxima del lugar", class:"pt-5" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>

  <!--<%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.errors[:base].present? %>
  -->
