<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/places">
      <img class="rounded-circle border border-1" src="https://i.ibb.co/kg0Q3sc/Whats-App-Image-2022-09-27-at-10-09-17-PM.jpg" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# current_user.role = "Explorador" %>
          <li class="nav-item">
            <a href="users/edit" class="nav-link"><%= current_user.first_name %> <%= current_user.last_name %></a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/places">Home</a>
          </li>
          <li class="nav-item">
            <div class="btn btn-info p-0 m-1"><strong><%= link_to "Ofrece tu espacio", new_place_path, class: "nav-link" %></strong></div>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://i.ibb.co/PhGQjV9/Whats-App-Image-2022-09-27-at-10-09-17-PM-1.jpg", class: "avatar dropdown-toggle rounded-circle border border-1", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Perfil", "users/edit", class: "dropdown-item" %>
              <%= link_to "Mis Reservaciones", reservations_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
