<div class="container">
  <h1 class="mb-4">Nueva Reservación</h1>
  <%= simple_form_for [@place, @reservation] do |f| %>
    <%= f.input :date %>
    <%= f.input :visit_hour %>
    <%= f.input :hour_quantity, class: "hours" %>
    <%= f.submit "Reservar", class: "btn btn-primary mt-4", alert: "¡Se generó la reservación!" %>
  <% end %>

  <%# <h2 class="m-6">Valor a Pagar</h2> %>


    <%# <button class="btn btn-outline-primary mt-4" data-controller="payment-value" data-action="click->payment-value#total-pay">
      CALCULAR TOTAL
    </button> %>

    <%# <div class="total mt-5">
      <% let price = document.querySelector('') %>
      <%# <%= @reservation.hour_quantity * @place.price_per_hour %>
</div>
