<div class="container">
  <h1>Mis reservas JoinApp</h1>
  <div class="row">
    <div class="col-4">
      <% @reservation.place.photos.each do |photo| %>
        <%= image_tag photo %>
      <% end %>
    </div>
    
    <div class="col-4">
      <%= @reservation.place.title %>
      <div class="row">
      <%= @reservation.date %>
      <div class="row">
        <%= @reservation.visit_hour %>
      <div class="row">
        <%= @reservation.hour_quantity %>
      <div class="row">
        <%= @reservation.status %>
      <div class="row">
        <%= @reservation.total_price %>
      <div class="row">
        <%= @reservation.paid_status %>
        
      </div>
    </div>
  </div>
</div>


<%= link_to "Delete",
  reservation_path(@reservation),
  data: {turbo_method: :delete, turbo_confirm: "¿Estás seguro de eliminar esta reservación?"}
%>
