<div class="container">
  <h1>Mis reservas JoinApp</h1>
  <div class="row">
    <div class="col-12">
      <% @reservation.place.photos.each do |photo| %>
        <div><%= image_tag photo %></div>
      <% end %>
    </div>

    <div class="col-4">
        <h2><%= @reservation.place.title %></h2>
      <div class="row">
        <p><%= @reservation.date %></p>
      <div class="row">
        <p><%= @reservation.visit_hour %></p>
      <div class="row">
        <p><%= @reservation.hour_quantity %></p>
      <div class="row">
        <p><%= @reservation.status %></p>
      <div class="row">
        <p><%= @reservation.total_price %></p>
      <div class="row">
        <p><%= @reservation.paid_status %></p>

      </div>
    </div>
  </div>
</div>


<%= link_to "Eliminar Reserva",
  reservation_path(@reservation),
  data: {turbo_method: :delete, turbo_confirm: "¿Estás seguro de eliminar esta reservación?"}
%>
