<h1>Reservations#show</h1>
<%= @reservation.place.title %> <img src="<%= @reservation.place.photo_url %>" width="200px" alt="">
<%= @reservation.date %>
<%= @reservation.visit_hour %>
<%= @reservation.hour_quantity %>
<%= @reservation.status %>
<%= @reservation.total_price %>
<%= @reservation.paid_status %>



<%= link_to "Delete",
  reservation_path(@reservation),
  data: {turbo_method: :delete, turbo_confirm: "¿Deseas eliminar esta reservación?"}
%>
