<div class="container">
  <h1 class="mt-10 mb-6">JoinPeople</h1>
  <h5>Encuentra el mejor espacio del valle de Aburra</h5>
  <h2>Nuestros espacios</h2>
</div>

<div class="container mb=10">

  <%= form_with url: places_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Encuentra un lugar"
    %>
    <%= submit_tag "Buscar", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    
    <% @places.each do |place| %>
      <div class="col-md-4 col-sm-12">
        <div class="card mb-4" style="width: 18rem;">
        
          <% place.photos.each do |photo| %>
            
            <%= image_tag photo %>
              
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= place.title %>  (<%= place.category %>)</h5>
            <p class="card-text"><%= place.description %></p>
            <%= link_to "Ver más", place_path(place.id), class:"btn btn-primary"%>
          </div>
        </div>
      
    <% end %>
  </div>
</div>
