<div class="container">
<%= current_user.id %>
<h1 class="mt-10 mb-6">Agrega un nuevo epacio</h1>
<%= simple_form_for(@place) do |f| %>
  <% @place.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
  <%= f.input :title, label:"Título" %>
  <%= f.input :description, label:"Descripción" %>
  <%= f.input :address, label:"Dirección" %>
  <%= f.input :category, label:"Categoría" %>
  <%= f.input :price_per_hour, label:"Precio por hora", placeholder: "COP" %>
  <%= f.input :capicity, label:"Capacidad", placeholder:"Ingresa la capacidad màxima del lugar", class:"pt-5" %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
</div>
