<div class="container">
  <h1 class="mt-10 mb-6">JoinPeople</h1>
  <h3><%= @place.title%> (<%=@place.category %>)</h3>
  <div>
    <p>Detalles: <%= @place.description %></p>
    <p>Dirección: <%= @place.address %></p>
    <p>Capacidad: <%= @place.capicity %> personas</p>
    <p> Precio por hora: <%= @place.price_per_hour %> COP</p>
    <%# <%= image_tag @place.photo if @place.photo.attached? %>
    <% @place.photos.each do |photo| %>
       <%= image_tag photo if @place.photos.attached? %>
    <% end %>
    </div>

  <div class="mb-5"><%= link_to "Reservar", class:"btn btn-primary"%></div>
<a><%= link_to "Regresar", places_path, class:"btn btn-outline-success"%></a>
<%= link_to "Editar espacio", edit_place_path(@place), class:"btn btn-outline-success" %>
<%= link_to "Eliminar espacio", place_path(@place), class:"btn btn-outline-success", data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro de eliminar?"} %>
</div>

